div.advertisement_7{
    width: 100%;
    height: 110px;
    position: relative;
}

div.advertisement_7>div.frame{
    width: 87%;
    height: 88px;
    background-color: #047699;
    border-radius: 16px;
    position: absolute;
    left: calc(50% - 87%/2);
    top: 10px;
}

div.advertisement_7>div.frame>a.logo{
    width: 120px;
    height: 120px;
    display: block;
    position: absolute;
    right: 40px;
    bottom: calc(50% - 60px);
}

div.advertisement_7>div.frame>a.logo>img{
    width: inherit;
    height: inherit;
}

div.advertisement_7>div.frame>a.whitebox{
    display: block;
    background-color: white;
    width: 265px;
    height: 65px;
    text-decoration: none;
    position: absolute;
    top: calc(50% - 65px/2);
}

div.advertisement_7>div.frame>a.whitebox:nth-last-of-type(1){
    left: 553px;
    border-top-right-radius: 8.5px;
    border-bottom-right-radius: 8.5px;
}

div.advertisement_7>div.frame>a.whitebox:nth-last-of-type(2){
    left: 284px;
}

div.advertisement_7>div.frame>a.whitebox:nth-last-of-type(3){
    left: 15px;
    border-top-left-radius: 8.5px;
    border-bottom-left-radius: 8.5px;
}

div.advertisement_7>div.frame>a.whitebox:nth-last-of-type(1)>svg,div.advertisement_7>div.frame>a.whitebox:nth-last-of-type(2)>svg,div.advertisement_7>div.frame>a.whitebox:nth-last-of-type(3)>svg{
    fill: #00BFD6;
    position: absolute;
    right: 15px;
    top: calc(50% - 21.5px/2);
}

div.advertisement_7>div.frame>a.whitebox:nth-last-of-type(2)>svg{
    top: calc(50% -11px);
}

div.advertisement_7>div.frame>a.whitebox:nth-last-of-type(3)>svg{
    top: calc(50% - 10px);
}

div.advertisement_7>div.frame>a.whitebox:nth-last-of-type(1)>span,div.advertisement_7>div.frame>a.whitebox:nth-last-of-type(2)>span,div.advertisement_7>div.frame>a.whitebox:nth-last-of-type(3)>span{
    color: rgba(0, 0, 0, 0.887);
    font-weight: bold;
    font-size: 11px;
    position: absolute;
    right: 42px;
    top: calc(50% - 7px);
}

div.advertisement_7>div.frame>a.whitebox:nth-last-of-type(3)>span{
    top: 26.2px;   
}

div.advertisement_7>div.frame>a.whitebox:nth-last-of-type(1)>img,div.advertisement_7>div.frame>a.whitebox:nth-last-of-type(2)>img,div.advertisement_7>div.frame>a.whitebox:nth-last-of-type(3)>img{
    width: 161.5px;
    height: 94.5%;
    object-fit: cover;
    position: absolute;
    left: 2px;
    top: calc(50% - 94.5%/2);
}