footer.part3{
    width: 100%;
    height: 130px;
    position: relative;
    top: 10px;
}

footer.part3>div.frame{
    width: 97%;
    height: 60%;
    background-color: #3C4B6D;
    border-radius: 15px;
    position: absolute;
    left: calc(50% - 97%/2);
    top: 30px;
}

footer.part3>div.frame>img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    position: absolute;
    right: 25px;
    top: calc(50% - 45px/2);
}

footer.part3>div.frame>span{
    color: white;
    font-size: 20px;
    position: absolute;
    right: 85px;
    top: 26px;
}

footer.part3>div.frame>a{
    display: block;
    width: 138px;
    height: 40px;
    background-color: white;
    display: inline-block;
    position: absolute;
    top: calc(50% - 20px);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

footer.part3>div.frame>a:nth-of-type(1){
    left: 400px;
}

footer.part3>div.frame>a:nth-of-type(2){
    left: 245px;
    border-radius: 3.5px;
}

footer.part3>div.frame>a:nth-of-type(3){
    left: 90px;
    border-radius: 8px;
}

footer.part3>div.frame>a:nth-of-type(4){
    width: 45px;
    left: 20px;
    border-radius: 5px;
}

footer.part3>div.frame>a>img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: inherit;
}